@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


body{
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2px;
  background: #F3F3F3;
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
    padding: 0 15px;
  }
  
  @theme {
    
   
    --color-avocado-100: oklch(0.99 0 0);
    --color-avocado-200: oklch(0.98 0.04 113.22);
    --color-avocado-300: oklch(0.94 0.11 115.03);
    
     /* Breakpoint */
     --breakpoint-*: initial;
    --breakpoint-sm: 640px; 
    --breakpoint-md: 768px; 
    --breakpoint-lg: 1024px; 
    --breakpoint-xl: 1083px; 

    --color-secondary-color-1: #00A0C1;
    --color-primary-color: #FFA62B;
    --color-secondary-color-2: #16697A;
    --color-text-color: #252B42;
    --color-second-text-color: #737373;
    --color-dark-background-color: #252B42;
    --color-disabled-element-color: #8EC2F2;
    --color-alert-color: #E77C40;
    --color-danger-color: #E74040;
   
  }
  .banner_shadow{
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  }
  /* .secondary-color-1{
    color: #00A0C1;
  }

  */
 
 
  